mnist/output/*.png
upscalenn
morph2nn
adder
adder_gen
xor
xor_gen
train

# Binaries
demos/infer
demos/trainer
demos/shape_gen
demos/mnist_gen

# Datasets
demos/data/*.mat
mnist/testing/
mnist/training/

